   <html>
        <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
              <script src="https://code.jquery.com/jquery-3.6.0.min.js "></script>  
              
           
        </head>
        <body style="background-image: url('/images/1.jpg'); background-repeat: no-repeat;  background-size: cover;background-position: center; " >
    <nav style="background:	#00b386;" >
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo"><i class="material-icons" style="font-size: 35;margin-left: 5px; ">account_circle</i>Employee Attendance System</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="sass.html"><i class="material-icons">search</i></a></li>
            <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
            <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
            <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
            <li style="display: flex;align-items: center;padding: 2px;"><%=result.adminname %></li>
            <li>   
            <img src='/images/<%=result.picture%>' style=" clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);">
          </li>
           
           </ul>
    
          <ul  class="right hide-on-med-and-down">
            <li><a href="/attendance/attendance" target="mw">Add Employee</a></li>
            <li><a href="/attendance/displayall" target="mw">show  Employee Record</a></li>
            <li><a href="/admin/addprofile" target="mw">Add Profile Picture</a></li>

          
            <li><a href="/admin/adminlogout" > Logout</a></li>
          </ul>
         
        </div>
      </nav>
      <iframe style="width: 100vw; height: 800px;" name="mw" frameborder="0"  ></iframe>
      </body>
        </html>