<style>
    .body1{
        background-size: cover;
        height: 100vh;
        background-image: url("/images/3.jpeg");;
        display: flex;
        justify-content: center;
       
    }
    .body2{
        width: 450px;
        height: 500px;
        margin: 10px;
        margin-top: 100px;
        background: #fff;
        padding: 15px;
        border-radius: 100px;
    
    }
    .body3{
        font-size: 32;
        font-weight:bold;
        padding-top: 10px;
        display: flex;
       justify-content: center;
     

    
    }
    
    </style>
    
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <title>Document</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    
    
        <!-- Compiled and minified CSS -->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
       <!-- Compiled and minified JavaScript -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
       
               
    
    
    
    
    </head>
    <body>
       
        <div class="body1">
            <div class="body2">
                <div class="body3">
                    <form action="/admin/checkadminlogin" method="post"> 
                    <img src="/images/9.png" width="120"  >
                </div>
                <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">email</i>
                      <input id="icon_email" name="userid" type="email" class="validate">
                      <label for="icon_email">Email</label>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">search</i>
                          <input id="icon_password" name="password" type="password" class="validate">
                          <label for="icon_password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6" style="display: flex; justify-content: center;">
                            <button class="btn waves-effect waves-gray" type="submit" name="action">Login
                                <i class="material-icons right">send</i>
                              </button>
                              </div>
                              
                              <div class="col s8"  style="font-size: 20px; font-weight: bold; display: flex; justify-content: center; color:  red;">
                                <br>
                                  <%=msg %>
                                  </div>
                    </div>
               
        </div>
    </form>
    </body>
   
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
              
    </html>